@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
  --col1: #7868e6;
  --col2: #3f3d56;
}


::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #fff;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent, var(--col1));
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent, var(--col2));
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--col2);
  /* background-color: #222831;
	color: #dbd8e3; */
}

.title-a {
  color: var(--col1);
  font-family: Proza;
}

section .container , footer{
	margin-top: 30px;
	/* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}


i {
  margin-right: 10px;
}
/*----------multi-level-accordian-menu #5161ce------------*/

.navbar-logo {
  padding: 15px;
  color: #fff;
}
.navbar-mainbg {
  background-color: var(--col1);
  padding: 0px;
}
#navbarSupportedContent {
  overflow: hidden;
  position: relative;
  
}
#navbarSupportedContent ul {
  padding: 0px;
  /* margin: 0px; */
  margin: auto;
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: none;
  
}
#navbarSupportedContent ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
#navbarSupportedContent > ul > li.active > a {
  color: var(--col1);
  background-color: transparent;
  transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}
#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}
.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  bottom: 10px;
}
.hori-selector .right {
  right: -25px;
}
.hori-selector .left {
  left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--col1);
}
.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}
.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
  .navbar-expand-custom .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }
  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }
  .hori-selector .left {
    top: -25px;
    left: auto;
  }
  .hori-selector .right {
    bottom: -25px;
  }
  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
}

/* Header */
@media (min-width:360px){
.header{
	margin-bottom: 70px;
}
}

.header .row .col-md-6 {
  margin-top: 100px;
  margin-bottom: 0px;
  padding: 30px;
}

@media (max-width: 768px) {
  .header .row .col-md-6 {
    margin-top: 10px;
  }
}
.header .row h1 {
  color: var(--col1);
}
.intro-subtitle {
  color: var(--col2);
  font-size: x-large;
}

.intro .text-slider-items {
  display: none;
}
/* social */
.flex-center {
  width: 100%;
  /* min-height: 50vh; */

  /* background: #000; */
  /* display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox; */
  /* display: flex; */
  /* -webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center; 
	justify-content: center;*/
}
.icon-3d {
  padding: 4px;
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
  color: var(--col2);
}
.icon-3d:hover {
  -webkit-animation: icon3d 200ms infinite;
  animation: icon3d 200ms infinite;
}
@keyframes icon3d {
  0% {
    text-shadow: 5px 4px rgba(244, 67, 54, 1), -5px -6px rgba(33, 150, 243, 1);
  }
  25% {
    text-shadow: -5px -6px rgba(244, 67, 54, 1), 5px 4px rgba(33, 150, 243, 1);
  }
  50% {
    text-shadow: 5px -4px rgba(244, 67, 54, 1), -8px 4px rgba(33, 150, 243, 1);
  }
  75% {
    text-shadow: -8px -4px rgba(244, 67, 54, 1), -5px -4px rgba(33, 150, 243, 1);
  }
  100% {
    text-shadow: -5px 0 rgba(244, 67, 54, 1), 5px -4px rgba(33, 150, 243, 1);
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
/* .about {
  margin-top: 100px;
  background-color: var(--col2);
} */

.about ul li {
  color: var(--col2);
}
/* .about .title-a {
  text-transform: uppercase;
} */

.about .content p {
  margin-bottom: 0;
}

.about .content ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: var(--col1);
}

.about .skills-content {
  margin-top: 30px;
}
/* .about .skills-content p {
  color: #e6e8eb;
} */

.about .skills-content .progress {
  height: 50px;
  display: block;
  background: none;
}

.about .skills-content .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  /* color: var(--col2);	 */
}

.about .skills-content .progress .skill .val {
  float: right;
  font-style: normal;
}

.about .skills-content .progress-bar-wrap {
  background: #e6e8eb;
}

.about .skills-content .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: var(--col1);
}

/* Services || What We do */

#services .title-a {
  padding-top: 15px;
  padding-bottom: 20px;
  /* color: var(--col1); */
}
/* #services .container {
  margin: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
} */
.serviceBox {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 0px 25px 40px;
  margin: 20px 0 0;
  border-radius: 20px;
  position: relative;
  transition: all 0.3s ease;
}
.serviceBox:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.serviceBox:before,
.serviceBox:after {
  content: "";
  background: linear-gradient(to top, #008d86, #01a2a6);
  width: 10px;
  border-radius: 0 100px 100px 0;
  position: absolute;
  top: 110px;
  bottom: 35px;
  left: 0;
}
.serviceBox:after {
  border-radius: 100px 0 0 100px;
  left: auto;
  right: 0;
}
.serviceBox .service-icon {
  color: #fff;
  background: linear-gradient(-45deg, #008d86 49%, #01a2a6 50%);
  font-size: 45px;
  line-height: 92px;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 100px;
  border: 15px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-20px);
  transition: all 0.3s ease;
}
.service-icon i {
  /* display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%); */
  margin: auto;
}
.serviceBox:hover .service-icon i {
  transform: rotateX(160deg);
  transition: all 0.8s;
}
.serviceBox .title {
  color: var(--col1);
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.serviceBox .description {
  color: #444;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
/* .serviceBox.pink:before,
.serviceBox.pink:after{ background: linear-gradient(to top,#00ead3 49%,#13ecd763); }
.serviceBox.pink .service-icon{ background:linear-gradient(-45deg,#00ead3 49%,#00ead359 50%); }
.serviceBox.pink .title{ color: #00ead3; }
.serviceBox.purple:before,
.serviceBox.purple:after{ background: linear-gradient(to top,#fff5b7 49%,#fff5b74b); }
.serviceBox.purple .service-icon{ background:linear-gradient(-45deg,#fff5b7 49%,#fff5b756 50%); }
.serviceBox.purple .title{ color: #fff5b7; } */
.serviceBox.blue:before,
.serviceBox.blue:after {
  background: linear-gradient(to top, var(--col1) 49%, #6359a8);
}
.serviceBox.blue .service-icon {
  background: linear-gradient(-45deg, var(--col1) 49%, #6359a8 50%);
}
/* .serviceBox.blue .title {
  color: #038bec;
} */
@media only screen and (max-width: 990px) {
  .serviceBox {
    margin: 20px 0 50px;
  }
}

/* Project Works */

.projects {
  /* padding-bottom: 50px; */
  width: 100%;
}
.projects .container{
  overflow: hidden;
}

.swiper-slide {
  padding: 1.5rem;
  text-align: center;
  font-size: 18px;
  /* border-radius: 20px; */
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet-active {
  background-color: var(--col1) !important;
}
.swiper-pagination{
  position:relative !important;
}

.projects .card {
	background: rgba( 255, 255, 255, 0.40 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 8.0px );
-webkit-backdrop-filter: blur( 8.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  /* box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 20px; */
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.7s;
}

.projects .card:hover {
  /* background: #309df0; */
  /* color: #fff; */
  transform: scale(1.1);
  z-index: 9;
}

.projects .title-a {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  color: var(--col1);
}

.projects .card img {
  height: 50%;
  width: 50%;
  margin: auto;
  padding-top: 15px;
}
.projects .card .card-title {
  color: var(--col1);
  font-weight: bolder;
}
.projects .card .card-text {
  font-size: 0.9rem;
}
.projects .card .btn-outline-info {
	color: var(--col1);
	border-color: var(--col1);

}
.projects .card .btn-outline-info:hover {
	transform: scale(1.05);
	background-color: transparent;
}

/* Contact me */
.more-info .list-ico {
  list-style: none;
}
.more-info .list-ico li {
  padding-top: 0.5rem;
}
.more-info .list-ico li span {
  padding-right: 0.5rem;
}
.socials i {
  margin: auto;
}

.ico-circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  display: block;
  color: var(--col1);
}

.socials ul li {
  display: inline-block;
}

.socials .ico-circle {
  height: 40px;
  width: 40px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.35;
  margin: 0 15px 0 0;
  transition: all 500ms ease;
}

.socials .ico-circle:hover {
  transform: rotate(360deg);
  background-color: var(--col2);
  color: var(--col1);
  transition: all 500ms ease;
}
.resume .btn-outline-info{
	color: var(--col1);
	border-color: var(--col1);
	transition: all 500ms ease;
}
.resume .btn-outline-info:hover{
	background-color: transparent;
	transform: scale(1.1);
}

/* Footer */
.footer-copyright i {
  color: red;
}
.footer-copyright a {
  color: var(--col1);
}
/* Toogle Dark */
.l{
	background-color: rgba(255,255,255,0.7);
	border-radius: 0.75em;
	box-shadow: 0.125em 0.125em 0.125em 0.125em  rgba(0,0,0,0.3) inset;
	display: flex;
	align-items: center;
	/* margin-right:10px; */
	padding: 0.15em;
	width: 3em;
	height: 1.5em;
	transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #3f3d56;
  }
  .l:before, .l:after {
	content: "";
	display: block;
  }
  .l:before {
	background-color: #fdea7b;
	border-radius: 50%;
	width: 1.2em;
	height: 1.2em;
	transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	z-index: 1;
  }
  .l:after {
	background:
	  linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
	  repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
	  radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
	background-repeat: no-repeat;
	border: 0.25em solid transparent;
	border-left: 0.4em solid #d8d8d8;
	border-right: 0 solid transparent;
	transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	transform: translateX(-22.5%);
	transform-origin: 25% 50%;
	width: 1.2em;
	height: 1em;
	
  }
  /* Checked */
  .l:checked {
	background-color: rgba(0,0,0,0.45);
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
  }
  .l:checked:before {
	background-color: currentColor;
	transform: translateX(125%)
  }
  .l:checked:after {
	border-left-color: currentColor;
	transform: translateX(-2.5%) rotateY(180deg);
  }
  /* Other States */
  .l:focus {
	/* Usually an anti-A11Y practice but set to remove an annoyance just for this demo */
	outline: 0;
  }